@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Storm&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.contact-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 40px 80px;
}

.contact-logo h1 {
  background: linear-gradient(
    90deg,
    hsl(127.1deg 38.39% 46.73%) 0%,
    hsl(158.17deg 47.5% 55.58%) 50%,
    hsl(130.6deg 68.68% 48.5%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  width: 44%;
  text-align: center;
  padding: 60px 0;
}

.contact-title h1 {
  font-size: 110px;
  font-family: "Archivo Black", sans-serif;
  padding: 0 0 60px;
}

.contact-title h1 span {
  background: linear-gradient(
    90deg,
    hsla(187, 83%, 65%, 1) 0%,
    hsla(301, 84%, 81%, 1) 50%,
    hsla(347, 75%, 61%, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-paragraph {
  font-size: 30px;
  color: #a8a8a8;
}

.small-contact-title {
  padding: 50px 0 20px;
}

.small-contact-title span {
  font-size: 20px;
  font-weight: 300;
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  animation: softPulseContact 3s ease-in-out infinite;
}

@keyframes softPulseContact {
  0%,
  100% {
    background: rgba(255, 255, 255, 0.05);
  }
  50% {
    background: rgba(255, 255, 255, 0.15);
  }
}

.back-home-btn {
  background: linear-gradient(
    90deg,
    hsl(127.1deg 38.39% 46.73%) 0%,
    hsl(158.17deg 47.5% 55.58%) 50%,
    hsl(130.6deg 68.68% 48.5%) 100%
  );
  font-size: 25px;
  font-weight: 600;
  padding: 13px 36px;
  border: 2px solid black;
  border-radius: 30px;
  transition:
    transform 0.3s ease,
    background 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.back-home-btn:hover {
  transform: scale(1.2);
}
