@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Storm&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.contact-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 40px 80px;
}

.contact-logo h1 {
  background: linear-gradient(
    90deg,
    hsl(127.1deg 38.39% 46.73%) 0%,
    hsl(158.17deg 47.5% 55.58%) 50%,
    hsl(130.6deg 68.68% 48.5%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  width: 44%;
  text-align: center;
  padding: 60px 0;
}

.contact-title h1 {
  font-size: 110px;
  font-family: "Archivo Black", sans-serif;
  padding: 0 0 60px;
}

.contact-title h1 span {
  background: linear-gradient(
    90deg,
    hsla(187, 83%, 65%, 1) 0%,
    hsla(301, 84%, 81%, 1) 50%,
    hsla(347, 75%, 61%, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-paragraph {
  font-size: 30px;
  color: #a8a8a8;
}

.small-contact-title {
  padding: 50px 0 20px;
}

.small-contact-title span {
  font-size: 20px;
  font-weight: 300;
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  animation: softPulseContact 3s ease-in-out infinite;
}

@keyframes softPulseContact {
  0%,
  100% {
    background: rgba(255, 255, 255, 0.05);
  }
  50% {
    background: rgba(255, 255, 255, 0.15);
  }
}

.back-home-btn {
  background: linear-gradient(
    90deg,
    hsl(127.1deg 38.39% 46.73%) 0%,
    hsl(158.17deg 47.5% 55.58%) 50%,
    hsl(130.6deg 68.68% 48.5%) 100%
  );
  font-size: 25px;
  font-weight: 600;
  padding: 13px 36px;
  border: 2px solid black;
  border-radius: 30px;
  transition:
    transform 0.3s ease,
    background 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.back-home-btn:hover {
  transform: scale(1.2);
}

.contact-section {
  display: flex;
  gap: 60px;
  padding: 80px;
  margin: 0 0 80px;
  background: #000;
  color: #fff;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.contact-info {
  width: 35%;
}

.contact-info h1 {
  font-size: 46px;
  margin-bottom: 40px;
}

.info-item {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}

.icon {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.info-item h4 {
  margin: 0;
  font-size: 22px;
  padding: 10px 0;
}

.info-item p {
  margin: 4px 0;
  color: #929395;
  font-size: 24px;
}

.info-item small {
  color: #9ca3af;
  font-size: 24px;
}

.follow {
  margin-top: 60px;
  border-top: 2px solid #292727;
  padding:30px 0;
}

.follow h2{
  padding: 26px 0;
}

.socials span {
  margin-right: 24px;
  color: #9ca3af;
  cursor: pointer;
  font-size: 22px;
}

.contact-form-box {
  width: 65%;
  background: linear-gradient(180deg, #1e1e1e, #0c0c0c);
  border: 2px solid #292929;
  border-radius: 24px;
  padding: 50px;
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.05);
}

.form-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-size: 24px;
  color: #e5e7eb;
}

.field2 {
  margin: 24px 0;
}

input,
select,
textarea {
  background: #0e0e0e;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 16px;
  margin: 18px 0;
  color: #f9fafb;
  font-size: 24px;
}

textarea {
  min-height: 140px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.15);
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 30px;
  padding: 28px 0;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #7c3aed, #06b6d4);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.send-btn:hover {
  transform: scale(1.05);
}

.send-btn svg {
  transform: rotate(-45deg);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.send-btn:hover svg {
  transform: rotate(0);
}

.note {
  margin-top: 40px;
  text-align: center;
  color: #9ca3af;
  font-size: 20px;
}

/* MOBILE */
@media (max-width: 900px) {
  .contact-section {
    flex-direction: column;
    padding: 40px;
  }

  .contact-info,
  .contact-form-box {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }
}
